<%- include('./partials/_head')%>
<main id="home">
    <form action="/artist-search", method="GET">
        <input type="text" name="search_word" id="" placeholder="Artist">
        <input type="submit" value="Search for an Artist">
    </form>
</main>
<%- include('./partials/_foot')%>